<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
crossorigin=""></script>

<script>
  var map = L.map('map').setView([17.28, 76.88], 3);
  var OpenStreetMap_Mapnik = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  	maxZoom: 15,
  	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  var marker1 = L.marker([17.28, 76.88]).addTo(map);
  marker1.bindPopup("You clicked marker : 1").openPopup();

  var marker2 = L.marker([17.28, 77.88]).addTo(map);
  marker2.bindPopup("You clicked marker : 2").openPopup();

  var marker3 = L.marker([17.28, 78.88]).addTo(map);
  marker3.bindPopup("You clicked marker : 3").openPopup();

  var marker4 = L.marker([16.28, 76.88]).addTo(map);
  marker4.bindPopup("You clicked marker : 4").openPopup();

  var marker5 = L.marker([16.28, 77.88]).addTo(map);
  marker5.bindPopup("You clicked marker : 5").openPopup();

  var marker6 = L.marker([16.28, 78.88]).addTo(map);
  marker6.bindPopup("You clicked marker : 6").openPopup();

</script>