<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="row" style="margin-top:20px">
        <div class="col-sm-8">
            <div id="map"></div>
        </div>

        <div class="col-sm-4">
            <div class="border" style="padding: 20px;">
                <h4>Leaflet JS</h4>
                <ul>
                    <li>leaflet</li>
                    <li>express</li>
                    <li>ejs</li>
                    <li>marker</li>
                    <li>pop up informasi</li>
                </ul>
            </div>
        </div>
    </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<%- include('../partials/scripts'); %>

</body>
</html>