<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div id="map" style="margin-top:20px"></div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <%- include('../partials/scripts'); %>
</body>
</html>